@charset "UTF-8";

.container {
    display: grid;
    grid-template: 100px 50px 300px 50px / 3fr 1fr;
}

.topo {
    background-color: blue;
    grid-area: 1 / 1 / 2 / 9;
}

.menu {
    background-color: red;
    grid-area: 2 / 1 / 3 / 9;
}

.principal {
    background-color: yellow;
    grid-area: 3 / 1 / 9 / 2;
}

.secundario {
    background-color: green;
    grid-area: 3 / 2 / 9 / 9;
}

.rodape {
    background-color: orange;
    grid-area: 4 / 1 / 5 / 9;
}